/* reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 


/* reset */


/* font */
@font-face {
    font-family: Jost; 
    src: url('../fonts/Jost.ttf')
}
/* font */


/* main */
*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
}

html,body {
	background: #191724;
}

.conteiner{
	font-family: 'Jost';
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.workspace{
	position: relative;
	min-height: 800px;
	background: white;
    border-radius: 20px;
}
 
.input-window{
	background: white;
	margin: 30px;
	margin-top: 0;
}
 .otc{
	margin-top: 10px;
	height: 40px;
	background: #191724;
 }
/* main */


/* header */
.first{
	background: #191724;
}

.home{
	width: 310px;
	position: absolute;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.header{
	background: #191724;
	height: 70px;
}

.main_button{
	text-decoration: none;
}

.con-button{
	display: flex;
	justify-content: end;
	height: 70px;
	margin-left: 400px;
	overflow: hidden;
}

.button{
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 40px;
	border-radius: 20px;
}

.UserHi{
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    font-size: 40px;
	border-radius: 20px;
}
.UserHi span{
	font-weight: 400;
	text-shadow: 2px 2px 2px #b4b4b4;
}
.button:hover{
    background: #1A1533;
    color: #FFFFFF;
}

.button:active{
    background: #47389A;
    color: #FFFFFF;
}
/* header */


/* workspace first */
.first-buttons{
	display: flex;
	padding: 20px 0;
	height: 400px;
	justify-content: space-between;
	background: #191724;

}

.second-button{
	display: flex;
	padding:20px 0 20px 0;
	height: 400px;
	justify-content: space-between;
	background: #191724;
}

.item{
	width: 320px;
	text-align: center;
	background: white;
	border-radius: 5px;
}

.item-header{
	width: 320px;
	height: 135px;
	background: white;
	border-radius: 5px 5px 0 0;
}

.item-text{
	height: 80px;
	margin-top: 40px;
	font-weight: 100;
	font-size: 20px;
	background: white;
}

.free-item{
	height: 40px;
	text-shadow:1px 1px 1px #191724;
	padding-top: 15px;
	font-size: 20px;
	color: blue;

}

.item-button{
	display: block;
	padding: 15px 0;
	font-weight: 400;
    font-size: 45px;
    line-height: 50px;
	text-decoration: none;
	border-radius: 0 0 5px 5px;
	color: #191724;
	background: white;
}

.afr-item{
	height: 40px;
	text-shadow:1px 1px 1px #191724;
	padding-top: 15px;
	font-size: 20px;
	color: green;
}

.no-afr-item{
	height: 40px;
	text-shadow:1px 1px 1px #191724;
	padding-top: 15px;
	font-size: 20px;
	color: red;
}

.item-button:hover{
	background: #191724;;
    color: #FFFFFF;
}

.item-button:active{
	background: #47389A;
    color: #FFFFFF;
}

.about-as{
	position: relative;
	height: 360px;
	width: 100%;
	background: white;
	border-radius: 10px;
}

.aboutas-img{
	width: 540px;
	height: 100%;
	border-radius: 10px 0 0 10px;
}

.aboutas-text{
	position: absolute;
	left: 590px;
	width: 440px;
	top: 40px;
	font-weight: 500;
	font-size: 50px;
	color: #191724;
	text-align: center;
}

.aboutas-button{
	padding: 35px 0 ;
	position: absolute;
	text-align: center;
	height: 100px;
	width: 200px;
	font-size: 30px;
	left: 710px;
	bottom: 20px;
	text-decoration: none;
	border-radius: 10px;
	color: #191724;
}

.aboutas-button:hover{
	background-color: #191724;
	color: white;
}

.aboutas-button:active{
	background: #47389A;
    color: #FFFFFF;
}
/* workspace first*/



/* workspace calculator */
#result{
	background: #e7e7e7;
    border-color: #D9D9D9;
    border-style: solid;
	border-radius: 10px 10px 10px 10px;
    padding: 25px;
    text-align: right;
	font-family: 'Jost';
	font-size: 58px;
}
#table-calc td{
	padding: 17px 66px 17px 66px;
	border-width: 5px;
	border-color: #fff;
	border-style: solid;
	border-radius: 10px;
	font-family: 'Jost';
	font-size: 58px;
	text-align: center
}
#equal{
	background: #2B30A9;
    text-align: right;
	border-bottom-right-radius: 10px;
	color: #FFFFFF
}
#equal:hover{
	background: #3c41e0;
}
#equal:active{
	background: #000;
}
#clear{
	background: #cccccc;
}
#clear:hover{
	background: #dadada;
}
#clear:active{
	background: #fff;
}
#number{
	background: #D9D9D9;
}
#number:hover{
	background: #eaeaea;
}
#number:active{
	background: #fff;
}
#operation{
	background: #b4b4b4;
}
#operation:hover{
	background: #d7d7d7;
}
#operation:active{
	background: #fff;
}
#dote{
	background: #b4b4b4;
	border-bottom-left-radius: 10px;
}
#dote:hover{
	background: #d7d7d7;
	border-bottom-left-radius: 10px;
}
#dote:active{
	background: #fff;
	border-bottom-left-radius: 10px;
}
.frame{
	width: 785px;
	height: 602px;
	margin: 60px 150px;
	background: #fff
}
/* workspace calculator */

/* workspace sympanents */
.inputsy1{
	font-size: 30px;
	width: 850px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
}
.inputsy2{
	font-size: 30px;
	width: 900px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
}
.lab2{
	font-size: 30px;
	width: 100px;
	display: inline-block;
	margin-right: 10px;
}
.lab3{
	font-size: 30px;
	width: 28%;
	display: inline-block;
	margin-right: 10px;
}
.selectsy{
	font-size: 30px;
	width: 60%;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
}
.resultsy{
	font-size: 50px;
	width: 965px;
	border-radius: 10px;
	background-color: #D9D9D9;
}
.infsymp{
    padding: 10px;
    margin-top: 30px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 10px;

}
.inf-text{
	text-align: center;
    font-size: 30px;
    font-weight: 400;

}
/* workspace sympanents */

/* workspace matrix*/
.input-window-matrix{
	background: white;
	margin: 30px;
	margin-top: 0;
	display: flex;
	flex-direction: column-reverse;
}

.matrix-main-wid{
	min-height: 0px;
	padding-top: 30px;
}

.matrix-inf-wid{
	width: 1080px;
	min-height: 0px;
	border-radius: 10px;
	background: #D9D9D9;
}
.matrix-operation-wid{
	background: #D9D9D9;
	margin-top: 30px;
	width: 1080px;
	height: 150px;
	border-radius: 10px;
	padding: 10px;
}
#matrix-size-text{
	font-family: 'Jost';
	font-size: 21px;
}
.matrix-size{
	width: 50px;
	height: 40px;
	text-align: center;
	font-family: 'Jost';
	font-size: 30px;
	border-radius: 3px;
}
.matrix-x{
	font-family: 'Jost';
	font-size: 30px;
	padding-top: 10px;
}
#matrix-submit{
	margin-top: 15px;
	font-family: 'Jost';
	font-size: 25px;
	color: #fff;
	background-color: #2B30A9;
	border-radius: 3px;
	width: 130px;
	height: 40px;
}
.matrix-submit{
	padding: 2px 22px;
	font-size: 25px;
	color: #fff;
	background-color: #2B30A9;
	border-radius: 3px;
	width: 130px;
	height: 40px;
	text-decoration: none;
}
#matrix-submit:hover{
	background: #3c41e0;
}
#matrix-submit:active {
	background: #000;
}
.matrix-submit:hover{
	background: #3c41e0;
}
.matrix-submit:active {
	background: #000;
}
.pre-table-matrix {
	text-align: center;
	background: #D9D9D9;
	border-radius: 10px;
	margin-top: 40px;
	padding-bottom: 20px;
	min-height: 0px;
}
#table-matrix td{
	margin-left: auto;
	margin-right: auto;
	min-width: 35px;
	min-height: 35px;
	text-align: center
}
.matrix-values{
	width: 35px;
	height: 35px;
	text-align: center;
	font-family: 'Jost';
	font-size: 25px;
	border-radius: 3px;
	background: #D9D9D9;
}
.matrix-brackets{
	display:inline-block;
	padding: 3px 8px;
	border-left:2px solid #000;
	border-right:2px solid #000;
	border-radius:10px;
	position:relative;
}
#lable-matrix{
	text-align: center;
	font-family: 'Jost';
	font-size: 30px;
	padding-top: 10px;
}
.matrix-operation-form{
	height: 600px;
}
#matrix-operation-text{
	font-family: 'Jost';
	font-size: 24px;
	text-align: center;
	margin-top: 5px;
}
.matrix-operations{
	font-family: 'Jost';
	font-size: 20px;
	margin-left: 0;
	margin-top: 10px;
}
#matrix-edit{
	font-family: 'Jost';
	font-size: 25px;
	color: #fff;
	background-color: #2B30A9;
	border-radius: 3px;
	width: 130px;
	height: 40px;
	margin-top: 460px;
	margin-left: 90px;
	position: absolute
}
#matrix-edit:hover{
	background: #3c41e0;
}
#matrix-edit:active {
	background: #000;
}
#matrix-edit-text{
	font-family: 'Jost';
	font-size: 22px;
	text-align: center;
	margin-top: 430px;
	position: absolute;
}
#flash_err_matrix{
	color: #ff5757;
	padding: 15px 0 15px 20px;
	font-size: 30px;
	width: 640px;
	height: 60px;
}
/* workspace matrix*/

/* workspce 2dgraf */
.input-text2d{
	font-size: 30px;
	width: 580px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
}

.graf_form{
	padding: 15px 0;
	background: white;
}

.graf-bg{
	height: 510px;
	padding-top: 30px;
}

.graf-img-bg{	
	width: 640px;
	height: 480px;
	border-radius: 10px;
	background: #D9D9D9;
}

.graf_img{
	width: 640px;
	height: 480px;
	margin-top: 30px;
	border: 2px solid #D9D9D9 ;
	border-radius: 10px;
	background: white;
	color: white;
}


.graf_lab{
	font-size: 30px;
	width: 50px;
	display: inline-block;
	margin-right: 10px;
}

.information{
	background: #D9D9D9;
	position: absolute;
	width: 340px;
	height: 630px;
	left: 740px;
	top: 30px;
	border-radius: 10px;
	padding: 10px;
}

.iformaton-text{
	text-align: center;
	font-size: 30px;
    font-weight: 400;
	margin-bottom: 20px;
}

#flash_err{
	color: #ff5757;
	padding-top: 25px;
	font-size: 30px;
	width: 640px;
	height: 55px;
}
/* workspce 2dgraf */


/* workspce 3dfigures */
.wrapper {
	min-height: 800px;
	position: relative;
	overflow: hidden;
}

.bg-3dgraf{
	display: block;
	position: absolute;
	font-size: 60px;
	color: white;
	width: 400px;
	top: 300px;
	left: 340px;
	text-align: center;
}

.content {
	height: 800px;
	max-width: 1140px;
	margin: 0px auto;
}

.tabs__items {
	display: flex;
}
.tabs__item {
	position: relative;
	flex: 0 1 25%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #D9D9D9;
	text-decoration: none;
	text-shadow: 1px 1px 1px #191724;
}

.tabs__item span {
	font-size: 20px;
	position: relative;
	z-index: 2;
}


.tabs__block {
	position: relative;
	padding: 30px;
	height: 750px;
	font-size: 18px;
	line-height: 24px;
	display: none;
}
.tabs__block:before {
	content: "";
	height: 50px;
	width: 25%;
	position: absolute;
	top: -50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.tabs__block:nth-child(1) {
	background-color: white;
	border-radius: 10px;
	border-top-left-radius: 0;
}
.tabs__block:nth-child(1):before {
	background-color: white;
	left: 0;
}
.tabs__block:nth-child(2) {
	background-color: white;
	border-radius: 10px;
}
.tabs__block:nth-child(2):before {
	background-color: white;
	left: 25%;
}
.tabs__block:nth-child(3) {
	background-color: white;
	border-radius: 10px;
}
.tabs__block:nth-child(3):before {
	background-color: white;
	left: 50%;
}
.tabs__block:nth-child(4) {
	background-color: white;
	border-radius: 10px;
	border-top-right-radius: 0;
}
.tabs__block:nth-child(4):before {
	background-color: white;
	right: 0;
}

.tabs__block:target {
	display: block;
}

.text {
    font-size: 20px;
    line-height: 25px;
    color: #191724;
}

.foto-bg{
	width: 644px;
	height: 484px;
	background: #D9D9D9;
	border-radius: 10px;
}

.foto{
	width: 640px;
	height: 480px;
	border-radius: 10px;
	margin: 2px;
}
.input-text{
	font-size: 30px;
	width: 644px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: #D9D9D9;
}

.submit{
	display: inline-block;
	width: 290px;
	height: 55px;
	margin-top: 30px;
	border-radius: 10px;
	background: #2B30A9;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
}

.submit:hover{
	background-color:  #4433ff;;
}

.submit:active{
	background: #47389A;
}

#flash_err_3d{
	color: #ff5757;
	text-align: center;
	height: 300px;
	padding-top: 227px;
	font-size: 30px;
}
/* workspce 3dfigures */



/* about_us */
.about-us-first{
	position: relative;
	height: 400px;
	background-color: white;
	border-radius: 10px;
}

.about-us-left{
	position: relative;
	height: 400px;
	background-color: white;
	margin-top: 40px;
	border-radius: 10px;
}

.about-us-right{
	position: relative;
	height: 400px;
	background-color: white;
	margin-top: 40px;
	border-radius: 10px;
}

.about-us-img-right{
	position: absolute;
	left: 600px;
	border-radius: 0 10px 10px 0;
	border-left: 2px solid #000;
}

.about-us-img-left{
	position: absolute;
	border-radius: 10px 0 0 10px;
	border-right: 2px solid #000;
}

.about-us-h-right{
	margin-left: 100px;
	font-weight: 500;
    font-size: 45px;
    line-height: 50px;
	width: 400px;
	height: 70px;
	padding-top: 20px;
	text-align: center;
}

.about-us-h-left{
	margin-left: 640px;
	font-weight: 500;
    font-size: 45px;
    line-height: 50px;
	width: 400px;
	height: 70px;
	padding-top: 20px;
	text-align: center;
}

.about-us-text-first{
	margin: 40px 0 0 100px;
	font-weight: 300;
    font-size: 25px;
	line-height: 25px;
	width: 400px;
	text-align: center;
}

.about-us-text-right{
	margin: 40px 0 0 100px;
	font-weight: 300;
    font-size: 25px;
	line-height: 30px;
	width: 400px;
	text-align: center;
}

.about-us-text-left{
	margin: 40px 0 0 640px;
	font-weight: 300;
    font-size: 25px;
	line-height: 30px;
	width: 400px;
	text-align: center;
}
/* about_us */



/* physics */
.frame-physics{
	margin-left: 209px;
	margin-top: 40px;
	width: 662px;
	height: 504px;
	border: 2px solid #191724;
	border-radius: 10px;
	box-shadow: 0 0 5px #191724;
}

.physics-text{
	margin-top: 40px;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 1px #191724;
}
/* physics */



/* loginning */
.login-wrapper{
	margin: 0 auto;
	width: 920px;
	height: 740px;
	border: 1px solid #FFFFFF;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-hight-text{
	text-align: center;
	margin-top: 107px;
	font-weight: 400;
	font-size: 64px;
	line-height: 92px;
	color: #FFFFFF
}

.login-text1{
	margin-left: 270px;
	margin-top: 42px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

.login-text2{
	margin-left: 270px;
	margin-top: 27px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

.login-input{
	color: #FFFFFF;
	font-size: 40px;
	margin: 0 270px;
	width: 380px;
	height: 45px;
	background: #080A16;
	border: 1px solid #FFFFFF;
	border-radius: 0px 10px 10px 0px;
}

.login-button{
	margin: 67px 270px 16px 270px;
	min-width: 380px;
	height: 85px;
	background: #2B30A9;
	border-radius: 5px;
	font-weight: 600;
	font-size: 36px;
	line-height: 52px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	color: #FFFFFF;
	box-shadow: 0 5px #4433ff;
}

.login-button:hover {
	box-shadow: 0 3px #4433ff;
	top: 1px;
}
.login-button:active {
	box-shadow: 0 0 #4433ff;
	top: 5px;
}

.login-footer-text{
	margin-left: 270px;
	font-weight: 300;
	font-size: 22px;
	line-height: 32px;
	color: #FFFFFF;
}

.logintoreg{
	text-decoration: none;
	color: #3B66A8;
}

.logintoreg:hover{
	text-decoration: underline;
}

#login-error{
	color: #ff5757;
	font-size: 20px;
	width: 380px;
	margin: 0 auto;
	margin-top: 5px;
}
/* loginning */



/* registration */
.reg-wrapper{
	margin: 0 auto;
	width: 960px;
	height: 780px;
	border: 1px solid #FFFFFF;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reg-hight-text{
	text-align: center;
	margin-top: 33px;
	font-weight: 400;
	font-size: 64px;
	line-height: 92px;
	color: #FFFFFF
}

.reg-text1{
	margin-left: 290px;
	margin-top: 42px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

.reg-text2{
	margin-left: 290px;
	margin-top: 28px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}

.reg-input{
	color: #FFFFFF;
	font-size: 40px;
	margin: 0 290px;
	width: 380px;
	height: 45px;
	background: #080A16;
	border: 1px solid #FFFFFF;
	border-radius: 0px 10px 10px 0px;
}

.reg-button{
	margin: 63px 200px 0 290px;
	min-width: 380px;
	height: 85px;
	background: #2B30A9;
	border-radius: 5px;
	font-weight: 600;
	font-size: 36px;
	line-height: 52px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	color: #FFFFFF;
	box-shadow: 0 5px #4433ff;
}

.reg-button:hover {
	box-shadow: 0 3px #4433ff;
	top: 1px;
}

.reg-button:active {
	box-shadow: 0 0 #4433ff;
	top: 5px;
}
/* registration */



/* footer */
.footer{
	height: 130px;
	margin-top: 30px;
}

.nklinks{

	color: white;
	font-weight: 400;
    font-size: 64px;
    line-height: 120px;
}
.links{
	width: 300px;
	float: right;
    position: relative;
}

.github{
	position: absolute;
	margin-left: 60px;
}


/* footer */