{% extends 'index.html' %}



{% block workspace %}
<section class="workspace">
    <div class="input-window">
        <div class="graf_img_p"><img class="graf_img" src="../static/img/2dgraf.png" height="480" width="640"></div>
        {% for msg in get_flashed_messages() %}
        <div id="flash_err"><p>{{msg}}</p></div>
        {% endfor %}
        <div class="graf_form">
            <form method="post">
                <lable for="func" class="graf_lab">f(x)=</lable>
                <input name="func" id="func" class="input-text2d" required placeholder="formula"><br>
                <label for="xfrom" class="graf_lab">from</label>
                <input name="xfrom" id="xfrom" class="input-text2d" required placeholder="meaning x"><br>
                <label for="xto" class="graf_lab">to</label>
                <input name="xto" id="xto" class="input-text2d" required placeholder="meaning x"><br>
                <input type="submit" value="Submit" class="submit">
            </form>
        </div>
        <div class="information">
            <h2 class="iformaton-text">Information</h2>
            <p class="text">Instruction for usage.<br>To creat plot of function you should enter determine function and range of x.<br>To determine function you can use charachter "x", digits form 0 to 9, math operations: "+" , "-", "/", "*", simple math function, such as sin(x), cos(x), tan(x), exp(x), sqrt(x), etc.<br>If plot is not creatable on range of x, or you enter invalid value, you have "Calculation error".</p>
        </div>
    </div>
</section>
{% endblock %}