{% extends 'index.html' %}



{% block workspace %}
<div class="wrapper">
    <h2 class="bg-3dgraf">Choose your character</h2>
    <div class="content">
        <div class="tabs">
            <nav class="tabs__items">
                <a href="#tab_01" class="tabs__item"><span>Cube</span></a>
                <a href="#tab_02" class="tabs__item"><span>Ball</span></a>
                <a href="#tab_03" class="tabs__item"><span>Pyramid</span></a>
                <a href="#tab_04" class="tabs__item"><span>Cylinder</span></a>
            </nav>
            <div class="tabs__body">
                <div id="tab_01" class="tabs__block">
                    <form action = "#tab_01" method = "post">
                        <div class="foto-bg">
                            {% for msg in get_flashed_messages() %}
                            <div id="flash_err_3d">{{msg}}</div>
                            {% endfor %}
                            <img class="foto" src="data:image/webp;base64, {{ plot_url_1 }}" alt="Fig" onerror="this.style.display='none'">
                        </div>
                        <input type="text" name="sizes1" class="input-text" id="int" placeholder="Input cube size"><br>
                        <input class="submit" value="Submit" type = "submit">
                    </form>
                    <div class="information">
                        <h2 class="iformaton-text">Information</h2>
                        <p class="text">In geometry, a cube is a three-dimensional solid object bounded by six square faces, facets or sides, with three meeting at each vertex.<br>a - edge length<br>d = a * √(3) - diagonal length<br>V = a^3<br>S(full) = 6*a^4<br></p>
                    </div>
                </div>
                <div id="tab_02" class="tabs__block">
                    <form action = "#tab_02" method = "post">
                        <div class="foto-bg">
                            {% for msg in get_flashed_messages() %}
                            <div id="flash_err_3d">{{msg}}</div>
                            {% endfor %}
                            <img class="foto" src="data:image/webp;base64, {{ plot_url_2 }}" alt="Fig" onerror="this.style.display='none'">
                        </div>
                        <input type="text" name="sizes2" class="input-text" id="int" placeholder="Input ball size"><br>
                        <input class="submit" value="Submit" type = "submit">
                    </form>
                    <div class="information">
                        <h2 class="iformaton-text">Information</h2>
                        <p class="text">A ball is the solid figure bounded by a sphere; it is also called a solid sphere. It may be a closed ball (including the boundary points that constitute the sphere) or an open ball (excluding them).<br>V = 4/3πR^2<br>S = 4πR^2<br></p>
                    </div>
                </div>
                <div id="tab_03" class="tabs__block">
                    <form action = "#tab_03" method = "post">
                        <div class="foto-bg">
                            {% for msg in get_flashed_messages() %}
                            <div id="flash_err_3d">{{msg}}</div>
                            {% endfor %}
                            <img class="foto" src="data:image/webp;base64, {{ plot_url_3 }}" alt="Fig" onerror="this.style.display='none'">
                        </div>
                        <input type="text" name="sizes31" class="input-text" id="int" placeholder="Input pyramid base"><br>
                        <input type="text" name="sizes32" class="input-text" id="int" placeholder="Input pyramid height"><br>
                        <input class="submit" value="Submit" type = "submit">
                    </form>
                    <div class="information">
                        <h2 class="iformaton-text">Information</h2>
                        <p class="text">А pyramid is a polyhedron formed by connecting a polygonal base and a point, called the apex. Each base edge and apex form a triangle, called a lateral face. It is a conic solid with polygonal base. A pyramid with an n-sided base has n + 1 vertices, n + 1 faces, and 2n edges. All pyramids are self-dual.<br>V = ⅓S(foot)*H<br>S(side) = ½P * h<br>S(full) = S(foot) * S(side)<br></p>
                    </div>
                </div>
                <div id="tab_04" class="tabs__block">
                    <form action = "#tab_04" method = "post">
                        <div class="foto-bg">
                            {% for msg in get_flashed_messages() %}
                            <div id="flash_err_3d">{{msg}}</div>
                            {% endfor %}
                            <img class="foto" src="data:image/webp;base64, {{ plot_url_4 }}" alt="Fig" onerror="this.style.display='none'">
                        </div>
                        <input type="text" name="sizes41" class="input-text" id="int" placeholder="Input height of cylinder"><br>
                        <input type="text" name="sizes42" class="input-text" id="int" placeholder="Input radius of cylinder"><br>
                        <input class="submit" value="Submit" type="submit">
                    </form>
                    <div class="information">
                        <h2 class="iformaton-text">Information</h2>
                        <p class="text">A cylinder has traditionally been a three-dimensional solid, one of the most basic of curvilinear geometric shapes. In elementary geometry, it is considered a prism with a circle as its base.<br>V = πr2h.<br>L = 2πrh.<br>S(full) = 2πR(R+h)<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}