{% extends 'index.html' %}



{% block workspace %}
<div class="wrapper">
    <div class="content">
        <div class="tabs">
            <nav class="tabs__items">
                <a href="#tab_01" class="tabs__item"><span>Cube</span></a>
                <a href="#tab_02" class="tabs__item"><span>Ball</span></a>
                <a href="#tab_03" class="tabs__item"><span>Pyramid</span></a>
                <a href="#tab_04" class="tabs__item"><span>Cylinder</span></a>
            </nav>
            <div class="tabs__body">
                <div id="tab_01" class="tabs__block">
                    <form action = "3dfigures#tab_01" method = "post">
                        <img class="foto" src="data:image/webp;base64, {{ plot_url }}" alt="Fig" onerror="this.style.display='none'"><br>
                        <input type="text" name="sizes1" class="input-text" id="int" placeholder="Input cube size"><br>
                        <input class="submit" type = "submit">
                    </form>
                </div>
                <div id="tab_02" class="tabs__block">
                    <form action = "#tab_02" method = "post">
                        <img class="foto" src="data:image/webp;base64, {{ plot_url }}" alt="Fig" onerror="this.style.display='none'"><br>
                        <input type="text" name="sizes2" class="input-text" id="int" placeholder="Input ball size"><br>
                        <input class="submit" type = "submit">
                    </form>
                </div>
                <div id="tab_03" class="tabs__block">
                    <form action = "#tab_03" method = "post">
                        <img class="foto" src="data:image/webp;base64, {{ plot_url }}" alt="Fig" onerror="this.style.display='none'"><br>
                        <input type="text" name="sizes31" class="input-text" id="int" placeholder="Input pyramid base"><br>
                        <input type="text" name="sizes32" class="input-text" id="int" placeholder="Input pyramid height"><br>
                        <input class="submit" type = "submit">
                    </form>
                </div>
                <div id="tab_04" class="tabs__block">
                    <form action = "#tab_04" method = "post">
                        <img class="foto" src="data:image/webp;base64, {{ plot_url }}" alt="Fig" onerror="this.style.display='none'"><br>
                        <input type="text" name="sizes41" class="input-text" id="int" placeholder="Input height of cylinder"><br>
                        <input type="text" name="sizes42" class="input-text" id="int" placeholder="Input radius of cylinder"><br>
                        <input class="submit" type = "submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}