{% extends 'index.html' %}

{% block workspace %}
<div class="about-us-first">
    <img src="../static/img/oleg.jpg" alt="oleg" class="about-us-img-right">
    <h2 class="about-us-h-right">Yakushev Oleg</h2>
    <p class="about-us-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit et ab laudantium nihil commodi. Ex accusantium repellendus dolore. Cumque fugit possimus animi quasi. Iure a veritatis temporibus assumenda, dolores sunt?</p>
</div>
<div class="about-us-left">
    <img src="../static/img/max.png" alt="max" class="about-us-img-left">
    <h2 class="about-us-h-left">Sibiryakov Maxim</h2>
    <p class="about-us-text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos cumque nisi, officiis exercitationem deleniti earum officia numquam labore, sed obcaecati minima, animi accusantium ipsam alias aliquid itaque molestias ipsum ut.</p>
</div>
<div class="about-us-right">
    <img src="../static/img/nekit.jpg" alt="nekit" class="about-us-img-right">
    <h2 class="about-us-h-right">Konyashov Nikita</h2>
    <p class="about-us-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis modi error est, dolorum iusto nemo, fugit aliquam corrupti laboriosam vitae accusamus totam illum labore, iste fuga velit blanditiis non rerum.</p>
</div>
<div class="about-us-left">
    <img src="../static/img/muxa.jpg" alt="nuxa" class="about-us-img-left">
    <h2 class="about-us-h-left">Idrisov Mukhamet</h2>
    <p class="about-us-text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure labore porro quasi laudantium consequuntur repellat similique tenetur debitis doloribus corrupti temporibus magni rerum vel architecto ut, ab mollitia sit?</p>
</div>
<div class="about-us-right">
    <img src="../static/img/lexa.jpg" alt="lexa" class="about-us-img-right">
    <h2 class="about-us-h-right">Bazhal Aleksey</h2>
    <p class="about-us-text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident maiores optio veritatis commodi esse eum fuga numquam soluta? Tempore autem ex facilis quaerat suscipit animi voluptate, sunt eos odio perferendis.</p>
</div>
{% endblock %}