{% extends 'index.html' %}

{% block workspace %}
<div class="about-us-first">
    <img src="../static/img/oleg.jpg" alt="oleg" class="about-us-img-right">
    <h2 class="about-us-h-right">Yakushev Oleg</h2>
    <p class="about-us-text-first">A 17-year-old programmer from Moscow. Team leader of the Nill Kiggers project. Was engaged in the design, development of several tabs (3d figures /calculator), as well as edits and fixes of all other tabs. Created a registration.<br>Outside of the project, was engaged in the development of video games. Stack: C#, Python (Flask/Jinja), SQL, CSS, HTML</p>
</div>
<div class="about-us-left">
    <img src="../static/img/max.png" alt="max" class="about-us-img-left">
    <h2 class="about-us-h-left">Sibiryakov Maxim</h2>
    <p class="about-us-text-left">18 year old Front-end programmer from Moscow.<br>Dovelop with python, flask, JS, SQL, html, jinja, css.<br>I have implemented the whole design completely and worked with all tabs.</p>
</div>Z
<div class="about-us-right">
    <img src="../static/img/nekit.jpg" alt="nekit" class="about-us-img-right">
    <h2 class="about-us-h-right">Konyashov Nikita</h2>
    <p class="about-us-text-right">18 year old programmer from Volgograd.<br>Frontend, backend developer.<br>Dovelop with python, flask, c++, SQL, html, jinja, css.<br>Made tabs 2d graf and physics.</p>
</div>
<div class="about-us-left">
    <img src="../static/img/muxa.jpg" alt="nuxa" class="about-us-img-left">
    <h2 class="about-us-h-left">Idrisov Mukhamet</h2>
    <p class="about-us-text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure labore porro quasi laudantium consequuntur repellat similique tenetur debitis doloribus corrupti temporibus magni rerum vel architecto ut, ab mollitia sit?</p>
</div>
<div class="about-us-right">
    <img src="../static/img/lexa.jpg" alt="lexa" class="about-us-img-right">
    <h2 class="about-us-h-right">Bazhal Aleksey</h2>
    <p class="about-us-text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident maiores optio veritatis commodi esse eum fuga numquam soluta? Tempore autem ex facilis quaerat suscipit animi voluptate, sunt eos odio perferendis.</p>
</div>
{% endblock %}