    <html>
        <head>
            <meta charset="utf-8">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.10.7/brython.min.js" integrity="sha512-ookVEvV0boFsZvDs/AKA1wuld0wbqV/rFS6UBrZRJs74s/t68YR6KQNLdKWCfazNthj4g5MPmKOAQJqu8TgP7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
            <style>body {background-color:#ffffff}</style>
        </head>

        <body onload="brython()">                                                                                       <!-- Подгружается модуль brython -->
            <div class="calculator">
                <script type="text/python">
                    from browser import document, html
                    calc = html.TABLE(id="table-calc")                                                                  # В объект calc помещается пустая html таблица
                    calc <= html.TR(html.TH(html.DIV("0", id="result"), colspan=4))                                     # С помощью оператора '<=' объекту calc "присваивается" строка, содержащая из ячеек таблицы
                    calc <= html.TR(html.TD('C', id="clear") + html.TD('CE', id="clear") + html.TD('^', id="operation") + html.TD('/', id="operation"))
                    calc <= html.TR(html.TD('1', id="number") + html.TD('2', id="number") + html.TD('3', id="number") + html.TD('*', id="operation"))
                    calc <= html.TR(html.TD('4', id="number") + html.TD('5', id="number") + html.TD('6', id="number") + html.TD('-', id="operation"))
                    calc <= html.TR(html.TD('7', id="number") + html.TD('8', id="number") + html.TD('9', id="number") + html.TD('+', id="operation"))
                    calc <= html.TR(html.TD('.', id="dote") + html.TD('0', id="number") + html.TD('1/x', id="operation") + html.TD('=', id="equal"))
                    document <= calc
                    result = document["result"]

                    def action(event):                                                                                  # Описание функции действия калькулятора
                        element = event.target                                                                          # С помощью определения объекта element, в объект value сохраняется
                        value = element.text                                                                            # определённый элемент из таблицы, описанной выше, имеющий тип str
                        if value in '1234567890.+-**^/':                                                                # Реализация исходов различных действий с помощью постановки условий
                            if result.text in ["0", "Error"] and (value not in '+-*/^'):
                                result.text = value
                            elif (result.text[-1] in '+-**/') and (value in '+-**/'):
                                if result.text[-2:] == '**':
                                    result.text == result.text[:-2] + value
                                else:
                                    result.text = result.text[:-1] + value
                            elif (value == '^') and (result.text[-2:] != '**') and (result.text[-1] not in '+-**/'):
                                result.text = result.text + '**'
                            elif ('.' in result.text) and (value == '.'):
                                result.text = result.text
                            elif value != '^':
                                result.text = result.text + value
                        elif value == "=":
                            try:
                                result.text = eval(result.text)
                            except:
                                result.text = "Error"
                        elif value == "C":
                            if (len(result.text) > 1) and (result.text != 'Error'):
                                result.text = result.text[:-1]
                            else:
                                result.text = 0
                        elif value == 'CE':
                            result.text = 0
                        elif value == '1/x':
                            if str(1/(eval(result.text)))[-2:] == '.0':
                                result.text = int(1/(eval(result.text)))
                            else:
                                result.text = 1/(eval(result.text))
                    for button in document.select("td"):                                                                # Кликнув на ячейку таблицы вызывается функция, описанная
                        button.bind("click", action)                                                                    # ранее и в переменную element сохраняется значение нажатой кнопки
                </script>
            </div>
        </body>
    </html>