{% extends 'index.html' %}


{% block workspace %}
<div class="first-buttons">
    <div class="item">
        <h2 class="item-header">Calculator</h2>
        <p class="item-text">Тут вы можете посчитать свои примеры но это вам не Fotomath!</p>
        <a href="/calculator" class="item-button">Vive</a>
    </div>
    <div class="item">
        <h2 class="item-header">2D Graf</h2>
        <p class="item-text">Тут можно посмотреть 2D графики.</p>
        <a href="/2dgraf" class="item-button">Vive</a>
    </div>
    <div class="item">
        <h2 class="item-header">3D Figures</h2>
        <p class="item-text">Что 3D фигуры, вы не врете?</p>
        <a href="/3dfigures" class="item-button">Vive</a>
    </div>
</div>
<div class="second-button">
    <div class="item">
        <h2 class="item-header">Inprogress1</h2>
        <p class="item-text">Что-то что мы еще не придумали но оно скоро будет.</p>
        <a href="/inprogress1" class="item-button">Vive</a>
    </div>
    <div class="item">
        <h2 class="item-header">Inprogress2</h2>
        <p class="item-text">Что-то что мы еще не придумали но оно скоро будет.</p>
        <a href="/inprogress2" class="item-button">Vive</a>
    </div>
    <div class="item">
        <h2 class="item-header">Inprogress3</h2>
        <p class="item-text">Что-то что мы еще не придумали но оно скоро будет.ы</p>
        <a href="/inprogress3" class="item-button">Vive</a>
    </div>
</div>
{% endblock %}