{% extends 'index.html' %}

{% block wrapbutton %}
{% if not Authorized %}
<div class="con-button">
    <a class="button" href="/login">Sign in</a>
</div>
{% else %}
<div class="con-button">
    <p class="UserHi">Hello, <span>{{Username}}</span></p>
    <a class="button" href="/logout">Logout</a>
</div>
{% endif %}
{% endblock %}

{% block workspace %}
<section class="workspace first">
    <div class="input-window">
        <div class="first-buttons">
            <div class="item">
                <img src="../static/img/calculator.jpg" alt="calck" class="item-header">
                <p class="item-text">Ur easy way to calculate everything!</p>
                <p class="free-item">Free</p>
                <a href="/calculator" class="item-button">Calculator</a>
            </div>
            <div class="item">
                <img src="../static/img/2dgrafs.jpg" alt="grafs" class="item-header">
                <p class="item-text">You haven't seen 2D Graf's anytime? Really?!</p>
                <p class="free-item">Free</p>
                <a href="/2dgraf/function" class="item-button">2D Graf</a>
            </div>
            <div class="item">
                <img src="../static/img/3dgrafs.jpg" alt="figures" class="item-header">
                <p class="item-text">Our personal pride!</p>
                {% if not Authorized %}
                <p class="no-afr-item">Unavailable</p>
                <a href="/" class="item-button">3D Figures</a>
                {% else%}
                <p class="afr-item">Available</p>
                <a href="/3dfigures" class="item-button">3D Figures</a>
                {% endif %}
            </div>
        </div>
        <div class="second-button">
            <div class="item">
                <img src="../static/img/sympanents.jpg" alt="sympanents" class="item-header">
                <p class="item-text">All the first-year material in one tab!</p>
                {% if not Authorized %}
                <p class="no-afr-item">Unavailable</p>
                <a href="/" class="item-button">Sympanents</a>
                {% else%}
                <p class="afr-item">Available</p>
                <a href="/sympanents" class="item-button">Sympanents</a>
                {% endif %}
            </div>
            <div class="item">
                <img src="../static/img/matrix.jpg" alt="matrix" class="item-header">
                <p class="item-text">Is it possible to touch the matrices <br> for different places here?</p>
                {% if not Authorized %}
                <p class="no-afr-item">Unavailable</p>
                <a href="/" class="item-button">Matrix</a>
                {% else%}
                <p class="afr-item">Available</p>
                <a href="/matrix" class="item-button">Matrix</a>
                {% endif %}
            </div>
            <div class="item">
                <img src="../static/img/physics.gif" alt="ball" class="item-header">
                <p class="item-text">Have you ever seen magic?!</p>
                {% if not Authorized %}
                <p class="no-afr-item">Unavailable</p>
                <a href="/" class="item-button">Physics</a>
                {% else%}
                <p class="afr-item">Available</p>
                <a href="/physics" class="item-button">Physics</a>
                {% endif %}
            </div>
        </div>
        <div class="second-button">    
            <div class="about-as">
                <img src="../static/img/aboutus.jpg" alt="team" class="aboutas-img">
                <h2 class="aboutas-text">Nill Kiggers<br> Team</h2>
                <a href="/about_us" class="aboutas-button">About US</a>
            </div>
        </div>    
    </div>
</section>
{% endblock %}