<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Nill Kiggers - {{title}}</title>
    {% else %}
    <title>Nill Kiggers</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )  }}">
    <script type="text/javascript"
        src="../static/script/brython.js">
    </script>
    <script type="text/javascript"
        src="../static/script/brython_stdlib.js">
    </script>
</head>
<body onload="brython(1)">
  <header>
    <div class="header">
      <div class="conteiner">
        <a href="/" class="main_button">
          <span class="home">Nill Kiggers</span>
        </a>
        {% block wrapbutton %}
        {% endblock %}
    </div>
    </div>
  </header>

  <div class="conteiner">
    <div class="otc"></div>
    {% block workspace %}{% endblock %}
  </div>
    {% block footer%}
    <div class="conteiner">
      <footer class="footer">
        <span class="nklinks">Nill Kiggers links</span>
        <div class="links">
          <a href="https://discord.gg/vmzGtc69pB" class="discord"><img src="../static/icons/discord.svg" alt="discord"></a>
          <a href="https://github.com/BrikozO/NillKiggers" class="github"><img src="../static/icons/github.svg" alt="github"></a>
        </div>
      </footer>
    </div>
    {% endblock %}

  

</body>
</html>





