{% extends 'index.html' %}



{% block workspace %}
<section class="workspace">
    <div class="input-window-matrix">
        <div class="infsymp">                                                                                           <!-- Создание окна, содержащего общую информацию о вкладке -->

            <h2 class="inf-text"> Information</h2>
            <p class="text">Here you can enter the size of the matrix,<br>
                and then by entering numeric values into the matrix cells,<br>
                transform it using elementary operations.
            </p>

        </div>
        <div class="matrix-operation-wid">                                                                              <!-- Создание окна выбора размера матрицы и операции над матрицей -->
            {% if request.method != "POST" %}                                                                           <!-- Данное условия позволяет разделить формы, т.е. будет отображаться только одна из двух в зависимости от метода -->
            <p id="matrix-size-text">Select the size of Matrix:</p>
            <form class="matrix-x" method="POST">
                <input name="inp_operation" hidden="true" value="start">
                <select class="matrix-size" name="input_row" id="input-size-line">                                      <!-- Выбор количества строк -->
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
                <select class="matrix-size" name="input_column" id="input-size-column">                                 <!-- Выбор количества столбцов -->
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
                <br>
                <input type="submit" value="Submit" id="matrix-submit">
            </form>
            {% endif %}
            {% if request.method == 'POST' %}
            <form method="POST" class="matrix-operation-form">
                <input type="hidden" name="input_row" value={{row[-1]+1}}>
                <input type="hidden" name="input_column" value={{column[-1]+1}}>
                <p id="matrix-operation-text">Here are a few operations that u can use to transform ur matrix!</p>
                <select class="matrix-operations" name="inp_operation">                                                 <!-- Выбор операции над введённой матрицей -->
                    <option>Select the operation!</option>
                    <option>Find determinant</option>
                    <option>Transpose</option>
                    <option>Find rank</option>
                    <option>Squaring</option>
                    <option>Find reverse</option>
                </select><br>
                <input type="submit" value="Submit" id="matrix-submit">
                <a  href='/matrix' class="matrix-submit">Edit size</a>

            {% endif %}
        </div>
        <div class="matrix-main-wid">
            <div class="matrix-inf-wid">
                {% for msg in get_flashed_messages() %}
                <div id="flash_err_matrix"><p>{{msg}}</p></div>
                {% endfor %}
                {% if err!="You can't use this matrix for this type of operation" %}
                {% if request.method == 'POST' %}
                {% if inp_operation in ['start','Select the operation!'] %}
                <h1 id="lable-matrix">Matrix A of dimension {{row[-1]+1}} x {{column[-1]+1}}</h1>
                <div class="pre-table-matrix">
                <div class="matrix-brackets">
                    <table id="table-matrix">
                    {% for i in row %}
                        <tr>
                        {% for j in column %}
                            <td>
                                <input type="text" class="matrix-values" name="matrix{{i}}{{j}}"  {%if inp_operation == 'start' %} value="0" {% endif %} {%if inp_operation == 'Select the operation!' %} value={{fm[i][j]}} {% endif %} >
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                    </form>
                </div>
                {% endif %}

                {% if inp_operation == 'Find determinant' %}
                <h1 id="lable-matrix">The Determinant Is: {{mat_det}} </h1>
                <div class="pre-table-matrix">
                <div class="matrix-brackets">
                <table id="table-matrix">
                {% for i in row %}
                    <tr>
                    {% for j in column %}
                        <td>
                            <input type="text" class="matrix-values" name="matrix{{i}}{{j}}"  value={{fm[i][j]}}>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                </form>
                </div>
                {% endif %}

                {% if inp_operation in ['Transpose','Squaring','Find reverse'] %}
                <h1 id="lable-matrix">Matrix A of dimension {{row[-1]+1}} x {{column[-1]+1}}</h1>
                <div class="pre-table-matrix">
                <div class="matrix-brackets">
                    <table id="table-matrix">
                    {% for i in row %}
                        <tr>
                        {% for j in column %}
                            <td>
                                <input type="text" class="matrix-values" name="matrix{{i}}{{j}}"  value={{fm[i][j]}}>
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                    </form>
                </div>
                {% endif %}

                {% if inp_operation == 'Find rank' %}
                <h1 id="lable-matrix">The Rank Is: {{mat_det}} </h1>
                <div class="pre-table-matrix">
                <div class="matrix-brackets">
                <table id="table-matrix">
                {% for i in row %}
                    <tr>
                    {% for j in column %}
                        <td>
                            <input type="text" class="matrix-values" name="matrix{{i}}{{j}}"  value={{fm[i][j]}}>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                </form>
                </div>
                    {% endif %}

                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}